{
    "plugins": [
        [
            "@babel/plugin-transform-runtime", 
            {
                "regenerator": true,
                "helpers": false
            }
        ]
    ],
    "presets": [
        "@babel/preset-react"
    ]
}
