@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --btn-fg: #CE2856;
    --btn-bg: #22061b;
    --Titulo: #fff;
    --body-bg: #F4F4EC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.about {
    width: 100%;
}

.aboutUs,
.missions,
.values-text,
.values,
.values-icons,
.value-icon,
.globalization-title,
.localisation-cards,
.card,
.teamwork,
.teamwork-members,
.member-avatar {
    width: 100%;
    height: 50vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.aboutUs {
    background-color: #f8dce4;
}

.aboutUs h1 {
    text-align: center;
    width: 35%;
}

.aboutUs h1 {
    font-size: 50px;
}

h1 {
    font-family: var(--header-font);
}

.aboutUs p {
    width: 25%;
    text-align: center;
}


.aboutUs span {
    color: var(--btn-fg);
}

.aboutimg {
    height: 60%;
    width: 60%;
}

.aboutimg img {
    height: 100%;
    width: 100%;
}

.redparf {
    color: var(--red);
    font-weight: 600;
}

.circles-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid var(--btn-fg);
}

.circle:first-child {
    position: absolute;
}

.circle:last-child {
    position: absolute;
    top: 6vh;
}

/*******missions*******/
.missions {
    height: 60vh;
    justify-content: center;
}

.missions h1,
.values-text h1 {
    margin-bottom: 50px;
}

.missions h1,
.missions p {
    width: 40%;
}

/**********values**********/
.values {
    width: 100%;
    height: 60vh;
    flex-direction: row;
}

.values-text {
    justify-content: start;
    align-items: baseline;
}

.values-text,
.values-icons {
    width: 40%;
    height: 100%;
    padding: 20px;
}

.wave {
    width: 200px;
    height: 50px;
    background-color: white;
    margin-bottom: 20px;
}

.wave:before {
    content: attr(data-text);
    position: relative;
    top: -10px;
    color: white;
    font-size: 28px;
    text-decoration-style: wavy;
    text-decoration-color: #f15a2b;
    text-decoration-line: underline;
}

/********values-icons********/
.values-icons,
.value-icon {
    flex-direction: row;
    flex-wrap: wrap;
}

.value-icon {
    width: 50%;
    height: auto;
    justify-content: start;
}

.icon-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
    background-color: #fbc9014f;
    margin-right: 2vw;
}

#second-icon {
    background-color: #97a0f454;
}

#third-icon {
    background-color: #0a58df6e;
}

#forth-icon {
    background-color: #d9095521;
}

#fifth-icon {
    background-color: #f15a2b6e;
}

/***Globalizacion***/
.localisation-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.globalization-title {
    height: 70px;
}

.card {
    width: 20%;
    height: 35vh;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 5px rgb(0 0 0 / 6%);
}

.card-icon {
    width: 40%;
    height: 50%;
}

.card-icon img {
    width: 100%;
    height: auto;
}

.card p {
    width: 100%;
    text-align: center;
}

/***teamwork***/
.teamwork {
    width: 100%;
    height: 100vh;
}

.teamwork-members {
    width: 90%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.member-card {
    height: 40vh;
    width: 20%;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 10px 10px 5px rgb(0 0 0 / 6%);
    border-radius: 10px;
}

.member-avatar {
    height: 70%;
    width: 90%;
    overflow: hidden;
}

.member-avatar img {
    width: auto;
}

.member-info p {
    opacity: 0.5;
}


/**********MediaQueries**********/
/* large devices (laptop, 1600px and down) */
@media only screen and (max-width: 1600px) {

    /**********aboutUs**********/
    .aboutUs h1,
    .aboutUs p {
        width: 50%;
    }
        /***mission***/
    .missions h1,
    .missions p {
        width: 60%;
    }

    
    /***values***/
    .values-text,
    .values-icons {
        width: 45%;
    }

    .value-icon:nth-child(odd) {
        width: 55%;
    }

    .value-icon:nth-child(even) {
        width: 45%;
    } 
    .card-icon {
        width: 135px;
    }

    /***teamwork***/
    .member-avatar {
        height: 60%;
        width: 100%;
    }
    .member-info p {
        width: 100%;
    }
}

/* medium devices (tablet, 1200px and down) */
@media only screen and (max-width: 1200px) {
    
        /***values***/
    .value-icon {
        width: 50% !important;
    }

    .value-icon h3 {
        width: 150px;
    }
    /***teamwork***/
    .card {
        width: 25%;
    }
    .member-card {
        display: flex;
        flex-direction: column;
    }
    .member-avatar {
        justify-self: center;
    }

    .teamwork-members {
        width: 100%;
    }
    .member-card {
        height: 35vh;
    }
}
/*small devices (tablet, 950px and down) */
@media only screen and (max-width: 950px) {

    /***aboutUs***/
    .aboutUs h1, .aboutUs p {
        width: 80%;
    }
    .aboutUs{
        margin-bottom: 70px;
    }

/***missions***/
    .missions {
        min-height: 55vh;
    }
    .missions h1, .missions p {
        width: 90%;
    }    
    .localisation-cards{
        height: auto;
    }

/**********values**********/
    .values{
        flex-wrap:wrap;
        height: auto;
    }
    .values-text, .values-icons {
        width: 80%;
    }
    .value-icon {
        width: 40% !important;
    }

    /***Globalizacion***/
    .card {
        width: 275px;
    }


    /***teamwork***/
    .teamwork{
        height: auto;
    }
    .member-card {
        height: 25vh;
        width: 200px;
        padding: 10px;
    }
}
/*small devices (phone, 450px and down) */
@media only screen and (max-width: 450px) {

    /***aboutUs***/
    .aboutUs h1, .aboutUs p {
        width: 100%;
    }
    .aboutUs h1,.missions h1 {
        font-size: 25px;
    }
    .aboutUs{
        margin-bottom: 70px;
    }
    .circles-content {
        transform: scale(0.5)
    }
    .circle:first-child {
        top: 6vh;
    }
    .circle:last-child {
        top: 13vh;
    }

    /***missions***/
    .missions {
        height: auto;
    }
    /***globalization***/
    .globalization-title h1,.teamwork-title h1 {
        text-align: center;
    }

    /***teamwork***/
    .member-card {
        flex-direction: row;
        height: 10vh;
        width: 80%;
    }
    .member-avatar {
    height: 100%;
     width: 30%;
     margin-bottom: 0px;
    }

}