@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --btn-fg: #CE2856;
    --btn-bg: #22061b;
    --Titulo: #fff;
    --body-bg: #F4F4EC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.about {
    width: 100%;
}

.aboutUs {
    width: 100%;
    height: 40vh;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:#f8dce4 ;
}

.aboutUs h1 {
    font-size: 100px;
    font-family: var(--header-font);
    color: var(--btn-fg);
}

.aboutUs p {
    width: 55%;
    text-align: center;
}

.aboutUs span {
    color: var(--btn-fg);
}

.aboutimg {
    height: 60%;
    width: 60%;
}

.aboutimg img {
    height: 100%;
    width: 100%;
}

.campname {
    color: var(--btn-fg);
    background-color: #ce285742;
    padding: 5px;
}

.numbers {
    color: var(--btn-fg);
    font-weight: 600;
}

#redbg-paragraph {
    color: #fff;
    background-color: var(--btn-fg);
    padding-left: 10px;
    padding-right: 10px;
}

.circles-content {
    display: flex;
    flex-direction: column;
    position: relative;
}
.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid var(--btn-fg);
}
.circle:first-child{
    position: absolute;
    bottom: -10vh;
}
.circle:last-child{
    position: absolute;
    bottom: 15vh;
}





















/*******************misssions*************/
.missions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.missions h2 {
    padding-bottom: 50px;
}

.mission {
    width: 60%;
    height: auto;
    display: flex;
}

.mission-desc {
    width: 50%;
    height: 100%;
    background-color: var(--body-bg);
    border-radius: 12px;
    padding: 15px;
}

.mission-desc h1 {
    color: var(--btn-fg);
}

.mission-desc h3 {
    color: var(--btn-bg);
}

.mission-desc p {
    color: var(--btn-bg);
    font-weight: lighter;
}

.mission-img {
    width: 50%;
    height: 100%;
}

.mission-img img {
    width: 80%;
    height: 90%;
}

/************statistics*************/
.statistics {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.statistics-galery {
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-top: 70px;
    background-image: url(../assets/img/galerybg.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

.statistic-pic {
    margin: 20px;
}

.statistic-pic img {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #FF3D8B;
}

/**************kids-coments*************/
.kids-comments {
    margin: 50px;
}

.kid-comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.pic {
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.pic img {
    width: auto;
}

.comment {
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--btn-fg);
    z-index: 1;
    align-self: flex-end;
}

.comment1,
.comment3 {
    margin-left: -50px;
}

.comment2 {
    margin-right: -50px;
}

.comment-text {
    color: var(--Titulo);
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

#kid-age {
    font-weight: 100;
}

.comment-text p:last-child {
    font-size: 12px;
    font-weight: 500;
}