#booking-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 9999;
    /* display: none; */
}

button:focus-visible {
    outline: none;
    border: none;
}

button:hover {
    opacity: 0.8;
}

.add-kid-section,
.booking-modal-wrapper,
.add-kid-card,
.addButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#booking-modal,
.IDsection,
.complete-name,
.kid-cards,
.kid-info,
.kid-avatar,
.book-camp-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.IDsection,
.complete-name,
.age,
.kid-cards,
.close-button {
    display: flex;
}

#IDsection,
#complete-name,
#age {
    width: 85%;
}

.close-button {
    width: 100%;
    align-items: center;
    align-content: center;
}

.close-button button {
    font-size: 30px;
    background-color: transparent;
    color: var(--red);
    /* border: 3px solid var(--red); */
    padding: 1px 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.close-button button:hover {
    background-color: rgba(255, 255, 255, 0.697);
}

.close-button h3 {
    margin-right: 40px;
    color: var(--red);
}

#booking-modal {
    width: 65%;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 90%);
    max-height: 85vh;
    overflow-y: scroll;
    align-content: flex-start;
}

.kid-info,
.add-kid-section,
.addButton {
    width: 250px;
    min-height: 350px;
    justify-content: space-around;
}

.kid-info {
    padding: 20px;
    transition: all 0.5s ease-in-out;
    min-height: 110px;
    margin-top: 20px;
}

.kid-info:hover {
    background: white;
    color: var(--red);
    border: 5px solid var(--red);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}


.add-kid-card,
.kid-info {
    background: var(--red);
    color: var(--white);
}

.kid-info,
.add-kid-card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.kid-avatar,
#kid-avatar,
#plus-icon {
    width: 100%;
    height: 100px;
    padding: 0;
    transition: all 500ms ease;
}

#plus-icon {
    border-radius: 50%;
}

#plus-icon:hover {
    transform: scale(1.2);
}

.kid-avatar img,
#kid-avatar img {
    border-radius: 50%;
    width: 100px;
}

.kid-avatar,
#kid-avatar,
input,
.first-name,
.last-name {
    margin-bottom: 10px;
}

.kid-cards {
    width: 100%;
    flex-grow: 1;
    justify-content: space-evenly;
}

.book-camp-btn {
    width: 100%;
}

.book-camp-btn button {
    color: var(--white);
    background-color: var(--red);
    border: 3px solid var(--red);
    transition: all 0.3s ease-in-out;
}

.book-camp-btn button:hover {
    background-color: rgba(255, 255, 255, 0.697);
    color: var(--red);
}

.add-kid-section input {
    width: 100%;
    border: 3px solid #f3f3f4;
    background-color: #f3f3f4;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

.add-kid-section {
    margin-top: 40px;
}

.element-visible {
    display: flex;
    justify-content: center;
}

.element-hidden {
    display: none;
}

button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    margin: 10px;

}


.add-kid-card button,
.add-kid-card #kid-avatar,
.IDsection,
#IDsection,
.complete-name,
#complete-name,
.age {
    /* display: none; */
}

#complete-name {
    justify-content: space-between;
}

#complete-name input {
    width: 48%;
}

.addButton {
    /* z-index: 1; */
}

.addButton input {
    background-color: var(--white);
    border-radius: 50%;
}


.add-kid-card button {
    background: var(--white);
    color: var(--red);
}

.add-kid-card {
    margin-top: 30px;
}

#kid-avatar {
    margin-top: 10px;
}

.first-name p,
.last-name p {
    font-size: 20px;
}

/**********MediaQueries**********/
/* large devices (laptop, 1600px and down) */
@media only screen and (max-width: 1600px) {

    /***main-container***/
    .main-container {
        justify-content: space-around;
        width: 100%;
    }

    .camp-filters {
        align-self: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 80%;
    }

    .camp-pic-container {
        width: 335px;
    }

    .camp-pic {
        width: 335px;
    }
    .kid-cards {
        width: 70%;
        flex-grow: 1;
        justify-content: space-evenly;
    }
}
/* small devices (Smart phone, 450 and down) */
@media only screen and (max-width: 450px) {
    .kid-info{
        width: 90%;
    }
}