@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');


#wrapper {
    display: flex;
}

.camp-info,
.camp-pic-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-container,
.camp-filters,
.camp-type,
.permited-age,
.camp-languages,
.camp-pic,
.camp-activies,
.activity-card,
.activity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.camp-title,
.camp-location,
.camp-description,
.camp-filters,
.booking,
.acivity-title,
.camp-activities {
    width: 100%;
}

.main-container,
.camp-activies {
    width: 75%;
}

.camp-info {
    width: 65%;
}

.main-container,
.activity-container {
    flex-wrap: wrap;
}

.camp-pic-container {
    width: 35%;
    height: 70vh;
    padding-top: 20px;
}

.camp-pic {
    width: 70%;
    height: 80%;
    overflow: hidden;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.camp-pic img {
    width: auto;
}

.camp-title h1 {
    color: var(--red);
    margin-bottom: 5vw;
    font-size: 3vw;
    font-family: var(----header-font);
}

.camp-location {
    display: flex;
}

.camp-location h2 {
    margin-bottom: 3vh;
    font-size: 1.45vw;
}

.gps-icon {
    height: 4vh;
    margin-right: 2%;
}

.gps-icon img {
    width: auto;
}

.camp-description p {
    width: 80%;
    font-weight: 400;
}

.camp-filters {
    justify-content: space-around;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

.type-icon,
.age-icon,
.language-icon {
    height: 40px;
}

.camp-filters h4,
.activity-pic {
    margin-left: 10px;
    margin-right: 15px;
}

.camp-type p,
.permited-age p,
.camp-languages p {
    margin-right: 20px;
}

.booking button {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CE2856;
    border-radius: 8px;
    color: var(--white);
    border: none;
    transition: all 0.3s;
}

.booking button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.activity-title {
    margin-bottom: 30px;
    padding-left: 60px;
}

.activity-card {
    width: 50%;
    padding-left: 160px;
    justify-content: flex-start;
    font-weight: 300;
}

.activity-pic {
    opacity: 0.5;
}

/**********MediaQueries**********/
/* large devices (laptop, 1600px and down) */
@media only screen and (max-width: 1600px) {

    /***main-container***/
    .main-container {
        justify-content: space-around;
        width: 100%;

    }

    .camp-filters {
        align-self: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 80%;
    }

    .camp-pic-container {
        width: 335px;
    }

    .camp-pic {
        width: 335px;
    }


}

/* large devices (tablets, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .camp-info {
        max-width: 50%;
    }
}

/* medium devices (tablets, 1024 and down) */
@media only screen and (max-width: 1024px) {
    .main-container {
        justify-content: space-evenly;
    }

    .camp-pic-container {}

    .camp-info {
        width: fit-content;
    }

    .camp-filters {
        width: 100%;
    }
}

/* small devices (Smart phone, 950 and down) */
@media only screen and (max-width: 950px) {
    .camp-pic-container {
        height: 60vh;
    }

    .camp-pic {
        height: 90%;
    }

    .camp-info {
        max-width: 70%;
    }

    .camp-info,
    .camp-activities {
        margin-bottom: 50px;
    }

    .camp-info h1,
    .camp-info h2 {
        font-size: revert;
    }

    .activity-card {
        padding-left: 20px;
    }

    .activity-pic {
        margin-left: 0px;
        margin-right: 0px;
    }
}