@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --btn-fg: #CE2856;
    --btn-bg: #22061b;
    --Titulo: #fff;
    --body-bg: #F4F4EC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}