.camp-list {
    background-color: #f3f5f7;
    padding: 20px;
}

.search {
    display: flex;
    margin-bottom: 20px;
}

.search input {
    flex-grow: 1;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    margin-right: 14px;
}

.search button {
    background-color: #CE2856;
    border-radius: 8px;
    color: white;
    border: none;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 500;
}


.camps-cards {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.camp-card {
    width: 225px;
    display: flex;
    flex-direction: column;
    padding: 14px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.card-img {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 14px;
}

.card-info {
    padding-left: 8px;
}

.camp-card h2 {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 4px;
}

.camp-card span {
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.location-icon {
    width: 11px;
    display: inline-block;
    margin-right: 6px;

    position: relative;
    top: 3px;
}

