@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');


.camps-wrapper {
    width: 100%;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

/***************filters******************/

.filters {
    width: 20%;
    padding: 10px;
    margin-bottom: 30px;
}

.filters h1 {
    width: 100%;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    margin-bottom: 30px;

}

#title {
    color: var(--btn-fg);
    font-family: 'Amaric SC', cursive;
}

.filter {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.filter input {
    width: 25%;
    border: 3px solid #f3f3f4;
    background-color: #f3f3f4;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

input[type="range"] {
    font-size: 1.5rem;
    width: 12.5em;
}

input[type="range"]:hover {
    cursor: grabbing;
}

.hobbies input {
    width: 55%;
}

.filter label {
    width: 40%;
    text-align: start;
}

.filters-img {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filters-img img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.filters-img-text {
    width: 80%;
    background-color: #06352c;
    color: var(--Titulo);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;

}

.filters-img-text h1 {
    height: 20%;
    font-size: 25px;
    margin-bottom: 10px;
    width: 80%;
}

#arrow {
    width: 20%;
    border-radius: 4px;
    background-color: var(--btn-fg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.filters-img-text p {
    font-weight: 100;
    font-size: 14px;
}

.age,
.hobbies,
.price-range {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text h1 {
    width: 20%;
}

.text p {
    width: 100%;
}

.logout h2 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    color: var(--btn-fg);
}

.logout img {
    height: 25px;
}




/*******************camps&kids list**************/
.camps-kids {
    width: 55%;
    height: 92vh;
    background-color: #f3f5f7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.camps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.navigating-head {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navigating-button {
    width: 10%;
    display: flex;
}

.navigating-button button {
    width: 32%;
    background-color: transparent;
    border: none;
}

.navigating-button button:hover {
    cursor: pointer;
}

.navigating-head input {
    width: 60%;
    border: 3px solid #f3f3f4;
    background-color: var(--Titulo);
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    text-indent: 20px;
}

#search-button {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CE2856;
    border-radius: 8px;
    color: var(--Titulo);
    border: none;
}

.camps-cards {
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.camps-cards .camp-card {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--Titulo);
    border-radius: 8px;

}

.card-img {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-img img {
    height: 100%;
    border-radius: 8px;
}

.camp-card h2 {
    font-size: 20px;
    width: 100%;
}

.camp-card p {
    font-weight: 100;
}

.camp-card p:last-child {
    font: 100;
    margin-left: 10px;
}

.staricon, .gpsicon {
    height: 20px;
}

.kids {
    width: 62%;
    height: 40%;
    display: flex;
    flex-direction: column;
    background-color: var(--Titulo);
    padding: 10px;
    border-radius: 8px;
}

.kids-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}

.kids-header p {
    color: rgb(156, 156, 156);
}

.kids-header span {
    color: var(--btn-fg);
    padding-left: 5px;
    padding-right: 5px;
}

.kids-header h1 {
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
}

.kid {
    width: 100%;
    display: flex;
    align-items: center;

}

.kid .text {
    width: 60%;
    margin-top: 10px;
    margin-left: 10px;
}

.kid h2 {
    font-size: 20px;
}

.kid p {
    font-weight: 100;
}

.kid button {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CE2856;
    border-radius: 8px;
    color: var(--Titulo);
    border: none;
}

.kid-pic {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
}

.kid-pic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.location {
    width: 30%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--Titulo);
    border-radius: 8px;
    padding: 10px
}

.location-header {
    display: flex;
}

.location-header h3 {
    width: 80%;
}

.location-header img {
    height: 24px;
    margin-left: 10px;
}

.location-pic {
    height: 85%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.location-pic img {
    height: 100%;
}

/*******************logged-secccion***************/
.logged-section {
    height: 92vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logged-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.logged-header h1 {
    font-size: 30px;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button img {
    background-color: var(--btn-fg);
    border-radius: 4px;
    padding: 5px;
}

.picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid var(--btn-fg);
    padding: 5px;
}

.picture img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-pic {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crown {
    height: 20px;
    margin-left: 5px;
    margin-bottom: -2px;
}

.curent-location {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 120px;
    background-color: var(--btn-fg);
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.current-location-img {
    width: 45%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: -20px;
    border-radius: 8px;
}

.current-location-img img {
    height: 100%;
    border-radius: 8px;


}

.current-location-text {
    width: 45%;
    padding: 5px;
}

.current-location-text h1 {
    width: 45%;
    font-size: 20px;
}

.icon {
    width: 100%;
    text-align: end;
    height: 20px;
}
.icon img{
    width: auto}
.gpsicon img{
    width: auto}


.current-location-text p {
    font-weight: 100;
}

.current-location-text p img {
    height: 20px;
    padding-right: 5px;
}

.loged-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.loged-bg img {
    width: 80%;
}