.filters {
    flex: 1 0 240px;
    padding: 38px 20px;
}

.filter {
    width: 100%;
    margin-bottom: 16px;
}

.filter-title {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 16px;
}

.camp-filter-options {
    display: flex;
    flex-wrap: wrap;
}

.camp-filter-option {
    color: black;
    width: auto;
    border: 3px solid #f3f3f4;
    background-color: #f3f3f4;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px 10px 0;
    cursor: pointer;
    transition: all ease 0.3s;
}

.camp-filter-option.active,
.camp-filter-option.active:hover {
    border-color: var(--primary);
    background-color: var(--primary);
    color: white;
}

.camp-filter-option:hover {
    border-color: var(--primary);
    background-color: white;
    color: var(--primary);
}

