@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');


.camps-wrapper {
    width: 100%;
    display: flex;
}

/***************filters******************/

.filters {
    width: 20%;
    padding: 10px;
    margin-bottom: 30px;
}

.filters h1 {
    width: 100%;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    margin-bottom: 30px;

}

#title {
    color: var(--btn-fg);
    font-family: 'Amaric SC', cursive;
}

.filter {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.filter input {
    width: 55%;
    border: 3px solid #f3f3f4;
    background-color: #f3f3f4;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

input[type="range"] {
    margin-bottom: 0;
    width: 100%;
}

input[type="range"]:hover {
    cursor: grabbing;
}


/*************age slider**************/

#form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 90%;
    max-width: 500px;
}

form #form-title {
    margin-top: 0;
    font-weight: 400;
    text-align: center;
}

form #debt-amount-slider {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    width: 100%;
    height: 50px;
    user-select: none;
}

form #debt-amount-slider::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 100%;
    width: calc(100% * (3 / 4));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
}

form #debt-amount-slider input,
form #debt-amount-slider label {
    box-sizing: border-box;
    flex: 1;
    user-select: none;
    cursor: pointer;
}

form #debt-amount-slider label {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 100%;
    user-select: none;
}

form #debt-amount-slider label::before {
    content: attr(data-debt-amount);
    position: absolute;
    left: 50%;
    padding-top: 10px;
    transform: translate(-50%, 45px);
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0.85;
    transition: all 0.15s ease-in-out;
}

form #debt-amount-slider label::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

form #debt-amount-slider label:hover::after {
    transform: translate(-50%, -50%) scale(1.25);
    border: 2px solid var(--btn-fg);
}

form #debt-amount-slider input {
    display: none;
}

form #debt-amount-slider input:checked+label::before {
    font-weight: 800;
    opacity: 1;
}

form #debt-amount-slider input:checked+label::after {
    border-width: 4px;
    transform: translate(-50%, -50%) scale(0.75);
}

form #debt-amount-slider input:checked~#debt-amount-pos {
    opacity: 1;
}

form #debt-amount-slider input:checked:nth-child(1)~#debt-amount-pos {
    left: 12.5%;
}

form #debt-amount-slider input:checked:nth-child(3)~#debt-amount-pos {
    left: 37.5%;
}

form #debt-amount-slider input:checked:nth-child(5)~#debt-amount-pos {
    left: 62.5%;
}

form #debt-amount-slider input:checked:nth-child(7)~#debt-amount-pos {
    left: 87.5%;
}

form #debt-amount-slider #debt-amount-pos {
    display: block;
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    background: var(--btn-fg);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    opacity: 0;
    z-index: 2;
}

form:valid #debt-amount-slider input+label::before {
    transform: translate(-50%, 45px) scale(0.9);
    transition: all 0.2s linear;
}

form:valid #debt-amount-slider input:checked+label::before {
    transform: translate(-50%, 45px) scale(1.1);
    transition: all 0.15s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }

    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}


.filter label {
    width: 40%;
    text-align: start;
}

.filters-img {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filters-img img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.filters-img-text {
    width: 80%;
    background-color: #06352c;
    color: var(--Titulo);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;

}

.filters-img-text h1 {
    height: 20%;
    font-size: 25px;
    margin-bottom: 10px;
    width: 80%;
}

#arrow {
    width: 20%;
    border-radius: 4px;
    background-color: var(--btn-fg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--Titulo);
    margin-bottom: 15px;
}

.filters-img-text p {
    font-weight: 100;
    font-size: 14px;
}

.type,
.hobbies,
.age-range {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text h1 {
    width: 20%;
}

.text p {
    width: 100%;
}

.logout h2 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    color: var(--btn-fg);
}

.logout img {
    height: 25px;
    width: auto;
}




/*******************camps&kids list**************/
.camps-kids {
    width: 55%;
    height: 92vh;
    background-color: #f3f5f7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.camps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.navigating-head {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navigating-button {
    width: 10%;
    display: flex;
}

.navigating-button button {
    width: 32%;
    background-color: transparent;
    border: none;
}

.navigating-button button:hover {
    cursor: pointer;
}

.navigating-head input {
    width: 60%;
    border: 3px solid #f3f3f4;
    background-color: var(--Titulo);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    background-image: url(../assets/img/search.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: 40px 40px;
    padding: 12px 20px 12px 40px;
    text-indent: 20px;
}

#search-button {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CE2856;
    border-radius: 8px;
    color: var(--Titulo);
    border: none;
}

.camps-cards {
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.camps-cards .camp-card {
    width: 32%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--Titulo);
    border-radius: 8px;
    margin-bottom: 30px;
}

.card-img {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-img img {
    height: 100%;
    border-radius: 8px;
}

.camp-card h2 {
    font-size: 20px;
    width: 100%;
}

.camp-card p {
    font-weight: 100;
}

.camp-card p:last-child {
    font: 100;
    margin-left: 10px;
}

.staricon,
.gpsicon {
    height: 20px;
}

.kids {
    width: 62%;
    height: 40%;
    display: flex;
    flex-direction: column;
    background-color: var(--Titulo);
    padding: 10px;
    border-radius: 8px;
}

.kids-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}

.kids-header p {
    color: rgb(156, 156, 156);
}

.kids-header span {
    color: var(--btn-fg);
    padding-left: 5px;
    padding-right: 5px;
}

.kids-header h1 {
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
}

.kid {
    width: 100%;
    display: flex;
    align-items: center;

}

.kid .text {
    width: 60%;
    margin-top: 10px;
    margin-left: 10px;
}

.kid h2 {
    font-size: 20px;
}

.kid p {
    font-weight: 100;
}

.kid button {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CE2856;
    border-radius: 8px;
    color: var(--Titulo);
    border: none;
}

.kid-pic {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
}

.kid-pic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.location {
    width: 30%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--Titulo);
    border-radius: 8px;
    padding: 10px
}

.location-header {
    display: flex;
}

.location-header h3 {
    width: 80%;
}

.location-header img {
    height: 24px;
    margin-left: 10px;
}

.location-pic {
    height: 85%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.location-pic img {
    height: 100%;
}

/*******************logged-secccion***************/
.logged-section {
    height: 92vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--btn-fg);
    color: var(--Titulo);
}

.logged-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.logged-header h1 {
    font-size: 30px;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button img {
    background-color: var(--btn-fg);
    border-radius: 4px;
    padding: 5px;
    height: auto;
    width: auto;
}

.close-button img:hover {
    cursor: pointer;
}

.picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid var(--Titulo);
    padding: 5px;
}

.picture img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-pic {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crown {
    height: 20px;
    margin-left: 5px;
    margin-bottom: -2px;
}

.curent-location {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    /* height: 120px; */
    color: var(--btn-fg);
    background-color: var(--Titulo);
    padding: 10px;
    border-radius: 8px;
}

.current-location-img {
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: -20px;
    border-radius: 8px;
}

.current-location-img img {
    height: 100%;
    border-radius: 8px;


}

.current-location-text {
    width: 45%;
    padding: 5px;
}

.current-location-text h1 {
    width: 45%;
    font-size: 20px;
}

.icon {
    width: 100%;
    text-align: end;
    height: 20px;
}

.icon img {
    width: auto
}

.gpsicon img {
    width: auto
}


.current-location-text p {
    font-weight: 100;
}

.current-location-text p img {
    height: 20px;
    padding-right: 5px;
}

.loged-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.loged-bg img {
    width: 80%;
}