.camp-card {
    width: 24%;
    display: flex;
    flex-direction: column;
    padding: 14px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 12px;
    margin-right: 12px;
}

.camp-card:hover {
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.card-img img {
    transition: transform ease 1s;
}

.camp-card:hover .card-img img {
    transform: scale(1.1);
}

.card-img {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 14px;
}

.card-info {
    padding-left: 8px;
    margin-bottom: 4px;
}

.camp-card h2 {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 4px;
}

.card-info-items span {
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}

.card-info-items span:not(:first-child) {
    margin-left: 10px;
}

.location-icon {
    width: 11px;
    display: inline-block;
    margin-right: 6px;

    position: relative;
    top: 3px;
}

/**********MediaQueries**********/
/* larg devices (laptop, 1480px and down) */
@media only screen and (max-width: 1480px) {
    .camp-card {
        width: 23%;
    }
}

/* Meduim devices (tablets, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .camp-card {
        width: 30%;
    }
}

/* Meduim devices (tablets, 950px and down) */
@media only screen and (max-width: 950px) {
    .camp-card {
        width: 45%;
        margin-right: 3vw
    }
}

@media only screen and (max-width: 700px) {

    .camps-wrapper {
        display: block;
    }

    .camp-list {
        width: 100%;
        height: auto;
    }

    .filters {
        padding: 10px 20px;
    }

    .filter {
        margin-bottom: 0px;
    }
}

/* Meduim devices (tablets, 450px and down) */
@media only screen and (max-width: 450px) {
    .card-info-items span {
        font-size: 10px;
        font-weight: 600;
    }

    .camp-card {
        padding: 10px;
        margin-right: 4.4vw;
    }
}

/* Meduim devices (tablets, 300px and down) */
@media only screen and (max-width: 300px) {

    .camp-card {
        padding: 14px;
        width: 100%;
    }
}