.camp-card {
    width: 340px;
    display: flex;
    flex-direction: column;
    padding: 14px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 12px;
    margin-right: 12px;
}

.camp-card:hover {
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.card-img img {
    transition: transform ease 1s;
}

.camp-card:hover .card-img img {
    transform: scale(1.1);
}

.card-img {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 14px;
}

.card-info {
    padding-left: 8px;
    margin-bottom: 4px;
}

.camp-card h2 {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 4px;
}

.card-info-items span {
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}

.card-info-items span:not(:first-child) {
    margin-left: 10px;
}

.location-icon {
    width: 11px;
    display: inline-block;
    margin-right: 6px;

    position: relative;
    top: 3px;
}
