@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary: var(--red);
    --white: #f3f3f4;
    --red: #ce2856;
    --green: #27cf27;
    --blue: #2077d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

input {
    outline: none;
    -webkit-appearance: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

button {
    cursor: pointer;
}

span {
    color: var(--red);
}

img {
    width: 100%;
    height: 100%;
}
