.logged-section {
    height: 92vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--red);
    color: var(--white);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.logged-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logged-header h1 {
    font-size: 30px;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button img {
    background-color: var(--red);
    border-radius: 4px;
    padding: 5px;
    height: auto;
    width: auto;
}

.close-button img:hover {
    cursor: pointer;
}

.picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid var(--white);
    padding: 5px;
}

.picture img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-pic {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crown {
    height: 20px;
    margin-left: 5px;
    margin-bottom: -2px;
}

.curent-location {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    /* height: 120px; */
    color: var(--red);
    background-color: var(--white);
    padding: 10px;
    border-radius: 8px;
}

.current-location-img {
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: -20px;
    border-radius: 8px;
}

.current-location-img img {
    height: 100%;
    border-radius: 8px;
}

.gpsicon {
    height: 20px;
}

.current-location-text {
    width: 45%;
    padding: 5px;
}

.current-location-text h1 {
    width: 45%;
    font-size: 20px;
}

.icon {
    width: 100%;
    text-align: end;
    height: 20px;
}

.icon img {
    width: auto
}

.gpsicon img {
    width: auto
}


.current-location-text p {
    font-weight: 100;
    color: #000;
}

.current-location-text p img {
    height: 20px;
    padding-right: 5px;
}

.loged-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.loged-bg img {
    width: 80%;
}