@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --btn-fg: #CE2856;
    --btn-bg: #22061b;
    --Titulo: #fff;
    --body-bg: #F4F4EC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.cover {
    background-color: #f2f1ef;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.logocont {
    height: 25%;
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logocont img {
    width: 100%;
}

.sun {
    height: 30px;
    width: 30px;
    border: 4px solid #1E68B9;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 210px;
    animation: sunmove 5s ease-in-out;
}

@keyframes sunmove {
    0% {
        left: 210px;
        top: 15px;
    }

    50% {
        top: -30px
    }

    100% {
        left: 380px;
        top: 15px;
    }
}




.mainBackground {
    width: 100%;
    height: 100vh;
    position: relative;
}

.mainBackgrund video {
    width: 100%;
    height: 100%;
}

.blackcover {
    background-color: rgba(0, 0, 0, 0.6500);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
}

.videocont {
    max-height: 100vh;
    overflow: hidden;
}

.titulo {
    height: auto;
    width: fit-content;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 2;
}

h1 {
    font-size: 100px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 18px;
    color: var(--Titulo);
}

p {
    font-size: 22px;
    width: 715px;
    font-weight: 300;
    margin-bottom: 48px;
    color: var(--Titulo);
}

 button {
    color: white;
    background-color: var(--btn-fg);
    padding: 16px 28px;
    border-radius: 8px;
    border: none;
    font-size: 21px;
    letter-spacing: 0.2em;
    cursor: pointer;
}

.presenting {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presenting{
    background-color:var(--body-bg);
}

.presenting img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.presenting h1 {
    color: #22061b;
}

.presenting p {
    color: #22061b;
}

#presentingparag span {
    background-color: #0078d7;
    color: white;
}

.presenting p:last-child {
    color: #22061b87;
}

.presenting span {
    color: #0a5db8;
}

.campobject {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.obj1 .pic {
    height: 50%;
    width: 25%;
}

.pic img {
    height: 100%;
    width: 100%;
}

.text h1,
.text p {
    color: #22061b;
}

.obj1 {
    background-color: #003c3c;
}

.obj1 h1 {
    color: #f5f9fa;
}

.obj1 p {
    color: #bceee2;
}

.obj1 span {
    background-color: #02d37f;
    color: var(--Titulo);
}

.obj2 {
    background-color: #f6ecda;
}

.obj2 h1 {
    color: var(--btn-fg);
}

.obj2 span {
    background-color: var(--btn-fg);
    color: white;
}

.obj2 .pic {
    width: 35%;
}

.obj3 {
    background-color: #1a2c44;
}

.obj3 .pic {
    width: 40%;
    height: 70%;
}

.obj3 h1 {
    color: var(--btn-fg);
}

.obj3 p {
    color: #eeb35f;
}

.obj3 span {
    background-color: #119493;
    color: var(--Titulo);
}

.wher-are-we {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.wher-are-we h1 {
    width: 100%;
    text-align: center;
    color: var(--btn-bg);
    font-size: 70px;
}

.our-camps-logo {
    height: 140px;
    width: 100%;
    margin: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.our-camps-logo img {
    height: 100%;
    width: 130px;
    border-radius: 50%;
}

.city {
    width: 23%;
    height: 50%;
    /* border-radius: 20px; */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.city img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all ease-in-out 1s;
}

.city:hover img {
    transform: scale(1.2);
}

.city .desc {
    width: 100%;
    background-color: var(--btn-fg);
    border-top-right-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: -72px;
    left: -130px;
    transition: all ease-in-out 1s;
    overflow: hidden;
}

.city:hover .desc {
    bottom: 0;
    left: 0;
}

.city:hover h3 {
    margin-left: 0%;
}

.desc h3 {
    color: var(--Titulo);
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin-left: 120px;
    transition: all ease-in-out 1s;
    width: 100%;
}

.desc img {
    height: 30px;
    width: 30px;
    padding-right: 5px;

}

.desc p {
    margin: 0;
    font-size: 22px;
    width: 100%;
}

#desc1 {
    background-color: var(--btn-bg);
}

#desc3 {
    background-color: #02d37f;
}

#desc4 {
    background-color: #eeb35f;
}

footer {
    height: 100vh;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

footer .title {
    color: var(--Titulo);
    width: 100%;
    text-align: center;
}

.title span {
    color: #ce2856;
    font-family: 'Amatic SC', cursive;
}

.mailing {
    width: 100%;
    height: 20%;
    background-color: #ce2856;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mailing input {
    width: 20%;
    height: 25%;
    padding: 0px 5px;
    border: 1px solid white;
    margin-right: 10px;
}

input[type=button] {
    background-color: #ce2856;
    color: var(--Titulo);
    font-size: 22px;
    transition: all ease 0.6s;
}

input[type=button]:hover {
    background-color: var(--Titulo);
    color: #ce2856;
    cursor: pointer;
}

.contactus {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact {
    width: 20%;
    text-align: center;
}

.contact h1 {
    font-size: 30px;
    color: #ce2856;
}

.contact p {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.socialmedia {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socialmedia img {
    height: 40px;
    width: 40px;
}

footer p {
    color: var(--Titulo);
    font-size: 16px;
    width: auto;
}

#copyright {
    margin-top: 60px;
}