@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


.cover {
    background-color: #f2f1ef;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.logocont {
    height: 25%;
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logocont img {
    width: 100%;
}

.sun {
    height: 30px;
    width: 30px;
    border: 4px solid #1E68B9;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 210px;
    animation: sunmove 5s ease-in-out;
}

@keyframes sunmove {
    0% {
        left: 210px;
        top: 15px;
    }

    50% {
        top: -30px
    }

    100% {
        left: 380px;
        top: 15px;
    }
}

/*******video********/
.mainBackground {
    width: 100%;
    position: relative;
}

.mainBackgrund video {
    width: 100%;
    height: 100%;
}

.blackcover {
    background-color: rgba(0, 0, 0, 0.6500);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
}

.videocont {
    max-height: 100vh;
    overflow: hidden;
}

.videocont video {
    width: 100%;
    height: 100%;
}

/**********content**********/
/*******presentation*******/

.destination-wrapper,
.booking-step-wrapper,
.services-camps,
.camps-showcase,
.next-summer-camp-img,
.card-icon,
.card-img,
.step,
.sponores,
.camp-info-icons,
.mailing-section,
.mailing-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.presenting-wrapper,
.services-wrapper,
.destination-wrapper {
    width: 100%;
    height: 100vh;
}

.presenting-wrapper {
    height: auto;
    width: fit-content;
    position: absolute;
    top: 32%;
    left: 12%;
    z-index: 2;
    color: white;
}

.presenting-text {
    width: 60%;
}

.steps-text,
.presenting-picture {
    width: 50%;
}

p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.6;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 36px;
}

.presenting-text h3 {
    margin-bottom: 28px;
    font-weight: 900;
}

.presenting-text h3,
.services-wrapper h3 {
    color: var(--primary);
}

.presenting-text a,
.mailing-section button {
    color: white;
    background-color: var(--primary);
    padding: 8px 24px;
    border-radius: 8px;
    border: 2px solid var(--primary);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 300ms;
}

.presenting-text a:hover,
.mailing-section button:hover {
    background-color: transparent;
    color: var(--primary);
}

/**********services**********/
.services-wrapper,
.destination-title,
.service-title,
.service-card,
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.destination-wrapper {
    align-content: space-evenly;
}

.services-wrapper,
.services-camps {
    justify-content: space-evenly;
}

.service-card,
.camp-info {
    width: 20%;
    padding: 10px;
}

.card-icon {
    width: 30%;
}

.card-icon img {
    height: auto;
}

.destination-wrapper p,
.services-title p {
    font-weight: 900;
    font-size: 20px;
    color: var(--primary);
}

.services-title h1 {
    letter-spacing: 0.02em;
}

.services-title h3 {
    font-size: 30px;
    font-weight: 500;
}

.services-wrapper h1,
.services-wrapper h3,
.services-wrapper p,
.destination-wrapper h1,
.destination-wrapper p,
.destination-title {
    width: 100%;
    text-align: center;
}


/**********destination**********/
.destination-wrapper {
    height: 80vh;
    margin-bottom: 20vh;
}

.camps-showcase .camp-card {
    width: 19vw;
    height: 20vw;
    box-shadow: 0 10px 10px 5px rgb(0 0 0 / 6%);
    margin: 30px;
}

.steps-image {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.location-icon {
    width: 11px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 3px;
}

.card-img {
    width: 100%;
    height: 80%;
    overflow: hidden;
    justify-content: center;
}

.card-img img {
    height: 100%;
    width: auto;
    border-radius: 8px;
}

.camp-info,
.camp-info-icons,
.steps-image h3 {
    width: 100%;
    justify-content: flex-start;
}


/**************steps***********/
.booking-step-wrapper {
    justify-content: space-evenly;
}

.step-icon {
    width: 3vw;
    margin-right: 10px;
}

.step-info {
    width: 80%;
    padding: 5px;
}

.steps-image,
.next-summer-camp-img {
    border-radius: 1.5rem;

}

.steps-image {
    width: 400px;
    padding: 20px;
}

.next-summer-camp-img {
    height: 20vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.next-summer-camp-img img {
    width: 100%;
    height: auto;
}

.steps-image span {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.steps-image span,
.steps-image h3:last-child {
    opacity: 0.5;
}



.camp-info-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: rgba(153, 151, 151, 0.19);
    border-radius: 50%;
    padding: 5px;
    opacity: 0.6;
}

.sponores {
    height: 30vh;
}

.logo {
    width: 150px;
    margin: 30px;
}

.logo img {
    height: auto;
}

/**********mailing-section**********/
.mailing-section {
    height: 40vh;
    width: 100%;
    padding: 20px;
    background-color: #f8dce4;

}

.mailing-section h1 {
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    text-align: center;
    width: 70%;
    margin-bottom: 5vh;

}

.mailing-inputs {
    width: 40%;
}

.mailing-inputs button {
    padding: 5px 30px;
    margin-left: 10px;
}

.mailing-section input {
    width: 40%;
    border: 3px solid #f3f3f4;
    background-color: #f3f3f4;
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

/**********MediaQueries**********/
/* larg devices (laptop, 1600px and down) */
@media only screen and (max-width: 1600px) {
    .camps-showcase .camp-card {
        width: 21vw;
        height: 25vw;
    }

    .steps-text {
        transform: scale(0.9);
    }

    .step-icon {
        width: 4vw;
    }

    .step-info p {
        margin-bottom: 0;
    }

    .step {
        margin-bottom: 20px;
    }
}


/* medium devices (tablets, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .camps-showcase .camp-card {
        width: 26vw;
        height: 29vw;
    }

    .card-icon {
        width: 50%;
    }

    .mailing-section input {
        width: 60%;
    }

    .presenting-wrapper {
        top: 18%;
        left: 8%;
    }

    .camp-card {
        padding: 8px;
    }

    .steps-text {
        transform: scale(0.8);
    }

    .step-icon {
        width: 5vw;
    }

    .service-card {
        width: 25%;
        height: 37vh;
        justify-content: start;
    }

    .card-title {
        height: 60px;
    }

    .card-icon {
        margin-bottom: 15px;
    }

}

/* medium devices (tablets, 1024 and down) */
@media only screen and (max-width: 1024px) {
    .camps-showcase .camp-card {
        width: 26vw;
        height: 30vw;
    }

    .presenting-wrapper {
        top: 14%;
        left: 4%;
        transform: scale(0.8);
    }

    .steps-text {
        transform: scale(0.7);
    }

    .step-info p {
        font-size: 18px;
    }

    .step-icon {
        width: 7vw;
    }

    .destination-wrapper {
        margin-bottom: 0px;
    }
}

/* Small devices (Smart phone, 950px and down) */
@media only screen and (max-width: 950px) {

    .services-wrapper {
        width: 100%;
        height: auto;
    }

    .service-card {
        width: 228px;
        height: 37vh;
        justify-content: start;
    }

    .camps-showcase .camp-card {
        padding: 6px;
        margin: 10px;
        width: 240px;
        height: 30vh;
    }

    .destination-wrapper {
        height: auto;
    }

    .steps-text {
        width: 100%;
    }

    .steps-text {
        transform: scale(0.8);
    }

    .booking-step-wrapper {
        margin-bottom: 70px;
    }

    .mailing-section input {
        margin-bottom: 10px;
        width: 100%;
    }

    .sponores {
        height: 43vh;
    }


    .presenting-wrapper {
        position: static;
        height: auto;
        padding: 40px;
        transform: scale(1);
    }

    .presenting-text {
        width: 100%;
    }

    .presenting-wrapper h1,
    .presenting-text p {
        color: black;
    }

    .mailing-section h1 {
        width: 90%;
    }

}

/* Small devices (Smart phone, 500px and down) */
@media only screen and (max-width: 500px) {

    .presenting-wrapper h1,
    .services-title h1 {
        font-size: 8vw;
    }

    .presenting-wrapper p,
    .services-title p {
        font-size: 13px;
    }

    .presenting-text a {
        padding: 8px 4px;
    }

    .steps-image {
        width: 80%;
    }

    .mailing-section,
    .sponores {
        height: auto;
    }

}