:root {
    --btn-fg: #c6493a;
    --btn-bg: #22061b;
    --Titulo: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cover {
    background-color: #f2f1ef;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     z-index: 99; 
}

.logocont{
    height: 25%;
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logocont img{
    width: 100%;
}
.sun{
    height: 30px;
    width: 30px;
    border: 4px solid #1E68B9;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 210px;
    animation: sunmove 5s ease-in-out;
}

@keyframes sunmove {
    0%{
        left:210px;
        top:15px;
    }
    50%{
        top:-30px
    }
    100%{
        left:380px;
        top:15px;
    }
}




.mainBackground {
    width: 100%;
    height: 100vh;
    position: relative;
}

.mainBackgrund video {
    width: 100%;
    height: 100%;
}

.blackcover {
    background-color: rgba(0, 0, 0, 0.3500);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
}

.videocont {
    max-height: 100vh;
    overflow: hidden;
}

.titulo {
    height: auto;
    width: fit-content;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 2;
}

h1 {
    font-size: 100px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 18px;
    color: var(--Titulo);
}

p {
    font-size: 32px;
    font-family: 'Amatic SC', cursive;
    width: 700px;
    font-weight: 700;
    margin-bottom: 48px;
    color: var(--Titulo);
}

button {
    color: white;
    background-color: var(--btn-fg);
    border: 4px solid var(--btn-bg);
    box-shadow: 4px 4px 0px var(--btn-bg);
    padding: 16px 28px;
    font-size: 21px;
    font-family: 'Amatic SC';
    font-weight: bold;
    letter-spacing: 0.2em;
    /*color: var(--btn-bg);*/
    cursor: pointer;
}

.presenting{
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presenting img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.presenting h1{
    color: #22061b; 
}

.presenting p{
    color:#22061b; 
}
#presentingparag span{
    background-color:#0078d7;
    color: white;
}
.presenting p:last-child{
    color:#22061b87;
}
.presenting span{
    color: #0a5db8;
}

.campobject{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.obj1 .pic{
    height: 70%;
    width: 25%;
}
.pic img{
    height: 100%;
    width: 100%;
}
.text h1, .text p{
    color: #22061b;
}

.obj1{
    background-color: #003c3c;
}
.obj1 h1{
    color: #f5f9fa;
}
.obj1 p{
    color:#bceee2;
}
.obj1 span{
    background-color: #02d37f;
    color:var(--Titulo);
}
.obj2{
    background-color: #f6ecda;
}
.obj2 h1{
    color:var(--btn-fg);
}
.obj2 span{
    background-color:  var(--btn-fg);
    color: white;
}
.obj2 .pic{
    width:35%;
}
.obj3{
    background-color: #1a2c44;
}
.obj3 .pic{
    width:35%;
    height: 90%;
}
.obj3 h1{
    
    color: var(--btn-fg);
}
.obj3 p{
    color: #eeb35f;
}
.obj3 span{
    background-color:#119493;
    color: var(--Titulo);
}

.wher-are-we{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.wher-are-we h1{
    width: 100%;
    text-align: center;
    color: var(--btn-bg);
}

.city{
    width: 18%;
    height: 70%;
    border-radius: 20px;
    
}
.city img{
    height: 60%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.city .desc{
    background-color:var(--btn-fg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.desc h3{
    color: var(--Titulo);
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
.desc img{
    height: 30px;
    width: 30px;
    padding-right: 5px;
}
.desc p{
    margin: 0;
    font-size: 22px;
}

footer{
    height: 8vh;
    background-color: var(--btn-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer p{
    color: var(--Titulo);
    font-size: 16px;
    margin-top: 50px;
}