#nav-container {
    height: 68px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f3f3f4;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 58px;
    height: 56px;
    margin: 5px;
    border-radius: 50%;
    position: relative;
    bottom: -2px;
}

.navbar-logo img {
    border-radius: 50%;
    width: auto;
}

.navbar-menu,
.navbar-sign {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-menu {
    margin-left: 28px;
}

.navbar-menu-item,
.navbar-sign-item {
    font-size: 14px;
}

.navbar-menu-item,
.navbar-sign-item:first-child {
    height: fit-content;
    padding: 24px 20px;
    margin: 0 10px;
    position: relative;
    opacity: 0.75;
}

.navbar-menu-item:hover,
.navbar-sign-item:first-child:hover {
    opacity: 1;
}

.menu-item-line {
    width: 100%;
    height: 1px;
    background-color: black;

    position: absolute;
    left: 0;
    bottom: 0;

    transform: scaleX(0);
    transform-origin: 50% 0;
    transition: transform 200ms ease;
}

.navbar-menu-item:hover .menu-item-line {
    transform: scaleX(100%);
}

.navbar-sign-item:nth-child(2) {
    font-weight: 700;
    color: white;
    background-color: var(--primary);
    padding: 6px 24px;
    border: 2px solid var(--primary);
    border-radius: 8px;
    transition: all 0.5s;

}

.navbar-sign-item:nth-child(2):hover {
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
    cursor: pointer;
}

.navbar-user {
    margin-right: 14px;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.navbar-user svg {
    width: 30px;
    height: 30px;
    fill: var(--primary);
}

.nav-hamburger {
    width: 26px;
    height: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
}

.hamburger-row {
    height: 2px;
    width: 100%;
    background-color: black;
}

.menu-container {
    width: 100%;
    height: 100vh;
    background-color: white;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    transition: transform 300ms ease;
}

.menu {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .navbar-menu-item {
    width: fit-content;
}

.menu a {
    font-size: 28px;
    font-weight: 500;
}

/* .menu .navbar-menu-item:not(:last-child) {
    margin-bottom: 50px;
} */

.menu-container.hide {
    transform: translateX(-100%);
}

.menu-container.show {
    transform: translateX(0);
}

.nav-close {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 30px;
    left: 28px;

    cursor: pointer;
}

.close-row {
    width: 100%;
    height: 2px;
    background-color: black;
    transform-origin: 50% 50%;
    position: absolute;
}

.close-row:first-child {
    transform: rotate(45deg);
}

.close-row:last-child {
    transform: rotate(-45deg);
}

@media (max-width: 600px) {
    .navbar-left {
        display: none;
    }
}

@media (min-width: 601px) {
    .nav-hamburger {
        display: none;
    }
}

.navbar-sign-item:nth-child(2) {
    font-weight: 700;
    color: white;
    background-color: var(--primary);
    padding: 6px 14px;
    border: 2px solid var(--primary);
    border-radius: 8px;
}

/* larg devices (laptop, 1600px and down) */
@media only screen and (max-width: 1600px) {
    .navbar-sign-item:nth-child(2) {
        padding: 6px 14px;
    }
}