.sidebar-container h1 {
    font-family: 'Noto', sans-serif;
}

.sidebar-container {
    height: calc(100vh - 68px);
    position: sticky;
    top: 67px;
    z-index: 99;
    overflow: hidden;
    transition: background-color ease 300ms;
}

.sidebar-container.hide {
    pointer-events: none;
    background-color: transparent;
}

.sidebar-container.show {
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar {
    width: 25%;
    height: 100%;
    padding: 20px;

    position: absolute;
    right: 0;

    color: white;
    background-color: var(--primary);

    transition: transform ease 300ms;
}

.sidebar-container.hide .sidebar {
    transform: translateX(100%);
}

.sidebar-container.show .sidebar {
    transform: translateX(0);
}

.sidebar-header {
    margin-bottom: 56px;
}

.sidebar-header h1 {
    font-size: 22px;
    font-weight: 900;
    color: white;
}

.user-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 10px;
}

.user-img img {
    border-radius: 50%;
}

.sidebar-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.sidebar-user h1 {
    font-size: 20px;
    font-weight: 700;
}

.sidebar-bookings-header {
    margin-bottom: 14px;
}

.sidebar-bookings-header h1 {
    font-size: 20px;
    font-weight: 700;
}

.sidebar-logout {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-logout button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-logout img {
    width: 30px;
    height: 30px;
}

/* Small devices (Smart phone, 950px and down) */
@media only screen and (max-width: 950px) {
    .sidebar {
        min-width: 275px;
    }
}