@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary: var(--red);
    --red: #ce2856;
    --green: #27cf27;
    --blue: #279ACF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.corner {
    position: absolute;
    top: 20px;
    right: 32px;
}

.corner h4 {
    font-weight: 500;
    font-family: 'Noto Sans';
    font-size: 14px;
}

.corner a {
    margin-left: 8px;
    color: #ce2856;
}

.sign {
    width: 100%;
    display: flex;
}

.sign .img-wrapper {
    width: 42%;
    height: 100vh;
}

.sign img {
    height: 100%;
    width: 100%;
    display: block;
}

.form-wrapper {
    width: 400px;
    margin: auto;
}

.sign form {
    margin: 32px auto 0;
}

.sign .form-title {
    width: 100%;
    text-align: left;
    margin-bottom: 46px;
}

.sign .form-title h1 {
    font-weight: 900;
    letter-spacing: -0.03rem;
}

.sign .form-title h1 span {
    color: var(--primary);
}

.form-field {
    width: 100%;
    margin-bottom: 18px;
}

.form-field label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-field input {
    width: 100%;
    border: 3px solid #f3f3f4;
    background-color: #f3f3f4;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-field p {
    color: var(--red);
    font-size: 14px;
    font-weight: 500;
    visibility: hidden;
}

.form-field input.invalid + p.show {
    visibility: visible; 
}

.form-field input.invalid {
    border: 3px solid var(--red);
}

.form-field input.valid {
    border: 3px solid var(--green);
}

.form-button-wrapper {
    margin-top: 6px;
    position: relative;
}

.form-button-wrapper button {
    background-color: var(--red);
    color: white;
    padding: 6px 36px;
    border: 2px solid var(--red);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s all;
}

.form-button-wrapper button.hide {
    transform: scale(0);
}

.sign button:disabled, .sign button:hover:disabled {
    background-color: #f3f3f4;
    border-color: #f3f3f4;
    color: white;
    cursor: not-allowed;
}

.form-button-wrapper button:hover, 
.form-button-wrapper button.loading {
    color: #ce2856;
    background-color: white;
    border: 2px solid var(--red);
}

.form-button-wrapper button.loading {
    min-width: 109.6px;
    min-height: 35px;
}

.form-loaders {
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translateY(-50%);
    transition: transform 300ms;
}

.form-loaders.hidden {
    transform: translateY(-50%) scale(0);
}

.form-button-loading {
    display: inline-block;
    background-color: var(--red);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: loading 600ms infinite both alternate;
}

.form-button-loading:not(:last-child) {
    margin-right: 6px;
}

@keyframes loading {
    0% { transform: scale(1); }
    100% { transform: scale(0.5); }
}
