*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Anek Devanagari', sans-serif;
}
.signinForm{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row
}
.Signinback{
    height: 100vh;
    width: 40%;

} 
.Signinback img{
    height: 100%;
    width: 100%;
}
.signinForm form{
    height: 75vh;
    width: 40%;
    margin: auto;
}
.signinInfo{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.signinInfo div{
    width: 60%;
}

form h4{
    text-align: end;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

form a{
    color: #ce2856;
}
.signintitle{
    text-align: left;
}
.signinsubtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signinsubtitle h5{
    color: rgba(0, 0, 0, 0.267);
    margin: 10px;
}
.signinsubtitle hr{
    flex-grow: 1;
    height: 0;
    color: rgba(0, 0, 0, 0.267);
}
.email, .password{
    display: flex;
    flex-direction: column;

}
#email, #password{
    border: none;
    background-color: #f3f3f4;
    padding: 5px;
    border-radius:8px ;
}
button{
    background-color: #ce2856;
    color: white;
    padding: 8px 35px;
    border: 2px solid #ce2856;
    border-radius: 8px;
    display: flex;
}
button:hover{
    color: #ce2856;
    background-color: white;
    border: 2px solid #ce2856;
    transition: 0.8s all;
    cursor: pointer;
}





