@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

.corner {
    position: absolute;
    top: 20px;
    right: 32px;
}

.corner h4 {
    font-weight: 500;
    font-family: 'Noto Sans';
    font-size: 14px;
}

.corner a {
    margin-left: 8px;
}

.signupForm {
    width: 100%;
    display: flex;
}

.Signupback {
    width: 45%;
    height: 100vh;
}

.Signupback img {
    height: 100%;
    width: 100%;
    display: block;
}

.signupInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#signup-form-container {
    width: 400px;
    margin: auto;
}

form {
    margin: 32px auto 0;
}

form h4 {
    text-align: end;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

form a {
    color: #ce2856;
}

.signuptitle {
    width: 100%;
    text-align: left;
    margin-bottom: 46px;
}

.signuptitle h1 {
    font-weight: 600;
    letter-spacing: -0.03rem;
}

.signuptitle h1 span {
    color: #ce2856;
}

.signupsubtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.signupsubtitle h5 {
    color: rgba(0, 0, 0, 0.267);
    margin: 10px;
}

.signupsubtitle hr {
    flex-grow: 1;
    height: 0;
    color: rgba(0, 0, 0, 0.267);
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.field input {
    border: 3px solid #f3f3f4;
    background-color: #f3f3f4;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 28px;
}

.field input.invalid {
    border: 3px solid #ce2856;
}

.field input.valid {
    border: 3px solid #28ce56;
}

label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    align-self: flex-start;
    margin-top: 6px;
}

button {
    background-color: #ce2856;
    color: white;
    padding: 8px 25px;
    border: 2px solid #ce2856;
    border-radius: 8px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s all;
}

button:hover {
    color: #ce2856;
    background-color: white;
    border: 2px solid #ce2856;
    cursor: pointer;
}